nav *, nav *:before {
    transition: all .5s cubic-bezier(.9,-0.2,.1,1.2);
}

nav {
    height: 400px;
    max-height: 400px;
    overflow: auto;
}
nav > p {
    text-align: center;
}
.point {
    font-size: 48px;
    line-height: 150%;
    font-weight: 700;
    text-align: right;
    padding: 0 8px;
    color: var(--theme-colour);
}
nav section {
    background: #fff;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    max-height: 60em;
}
section h2:before {
    content: "\25B8";
    font: normal 400 1em/1em sans-serif;
    display: inline-block;
    margin-right: 2em;
    transform: rotate(90deg);
}
section.fold {
    max-height: 3em;
}
section.fold h2:before {
    transform: rotate(0);
    margin-right: 1em;
}
nav svg {
    display: block;
    width: 50%;
    margin: 15% auto 0;
}
@keyframes spin { 100% { transform:rotate(360deg); } }
nav svg path {
    fill: rgba(0, 0, 0, .05);
    transform-origin: center center;
    animation: spin 2s cubic-bezier(.7, .45, .4, .6) infinite;
}
nav h2,
nav a,
nav input {
    padding: 0 1em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
nav form div {
    overflow: auto;
}
nav form button {
    float: right;
    padding: 0 1em;
    text-align: center;
}
nav a,
nav input {
    white-space: nowrap;
    color: #454545;
    background: #fff;
    transition: none;
}
nav a:nth-child(even) {
    background: #f3f3f3;
}
nav a:hover {
    -webkit-filter: brightness(90%);
}
nav input {
    width: 100%;
}

.note {
    padding: .5em .75em .25em;
    background: #f7e18b;
    position: relative;
    cursor: default;
}
.note h3 {
    font: 400 italic 16px/120% serif;
    padding: 0 0 .25em;
}
.note p {
    font: italic 13px/120% serif;
    white-space: normal;
    padding: 0 0 .25em;
}
.note:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 1px;
    border: 5px solid #fff;
    border-color: #fff #fff #f1c40f #f1c40f;
}